html {
    font-family: 'QuickSand', sans-serif;
}

.navbar {
  margin: 0;
  padding: 0;
}

body {
    /*background: #37a2c4;*/
    background: url('b1.jpg') fixed; 
    background-size: cover;
    padding: 0;
    margin: 0;
  }


h2 {
    font-weight: 300;
    font-size: 3.5vw;
    color: white;
}

h3 {
  font-weight: 150;
  font-size: 2vw;
  padding: 5px 0;
  color: white
}

p {
    font-size: 3vw;
    line-height: 1.7em;
    color: white;
}

.form-holder {
    
    margin-top: 10%;
    /* background: rgba(255,255,255,0.2);
    border-radius: 3px; */
    min-width: 300px;
    
  }

  .remember-me {
    text-align: left;
  }
  .ui.checkbox label {
    color: #ddd;
  }
  
  #loginPageSubmitBtn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: QuickSand;
  color: #57a0da;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

#loginPageFields {
  background: rgba(255,255,255,0.5);
  border: solid #ffffff 1px;
}

.ui.circular.facebook.button {
  border: solid #ffffff 1px;
}
.ui.circular.google.plus.button {
  border: solid #ffffff 1px;
}
.ui.circular.twitter.button {
  border: solid #ffffff 1px;
}

