  /*  * {
   outline: 1px solid red;
  }*/
 
  .loginPanel
  {
    font-family: 'QuickSand', sans-serif;  
     background: url("towers3.jpg") no-repeat center center; 
    /* background: url('towers3.jpg') fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 94%;
    margin-top: 14px;

 }

  #loginCenteredGrid {


  }

  #loginFormHolder {
    margin-top: 20px;
    min-width: 350px;
    max-width: 450px;
 
  }

  h2 {
    font-weight: 300;
    font-size: 4vw;
    color: white;
  }

  h3 {
    font-weight: 150;
    font-size: 2vw;
    color: white
  }

  .2SName {
    color: #2C3E50;
  }

  .ui.checkbox label {
    color: #ffffff;
  }

  #loginPageSubmitBtn {
    text-align: center;
    border-radius: 16px;
    color: #fffff;
    background: #dc4a38;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    width: 200px;
  }

  #loginInput {
    background: rgba(255,255,255,.4);
    border: solid #ffffff 1.5px;
  }


  #loginPassword {
    background: rgba(255,255,255,.4);
    border: solid #ffffff 1.5px;
  }

  .ui.circular.facebook.button,.ui.circular.google.plus.button, .ui.circular.twitter.button {
    border: solid #ffffff 1px;
    text-align: center;
  }
 
  a.forgotPassword, a.didntReceiveEmail {
     font-weight: 150;
    font-size: 2vw;
    color: white
  }

