/*Colors */

@mGray: #2c3e50;
@mOrange: #e74c3c;
@mTeal: #19bc9c;
@mDarkBlue: #115c87;
@mBlue: #0099ff;
@black: #000000;
@white: #ffffff;
@mRorange: #E55D02;

@sTeal: #0e8a8c;
@sOrange: #fe934c;
@sGray: #5e5e5e;
@sGreen: #13DD04;